/* LOGO OF ABOVE ----------------------------------------------------------- */

#web_name{
  font-family: serif;
  text-shadow: 2px 2px 3px pink;
  font-size: 2.5rem;
}

#img_logo {
  width: 5rem;
}

/* LOGIN BUTTON ------------------------------------------------------------- */
#button_login{
  cursor: pointer;
}

#button_login:hover {
  background-color: #4CAF50;
}
