/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  position: absolute;
  left: 25%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  font-family: serif;
  color: red;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px pink;
  font-weight: bold;
  font-size: 40px;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 5%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  cursor: pointer;
  width: 50%;
  position: absolute;
  left: 25%;
  padding: 16px;
}
